html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  /* breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* spacing */
  --spacing: 2em;

  /* primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* neutral colors */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--grayish-blue);
  background-color: var(--white);
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 400;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--dark-blue);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  border: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: calc(var(--spacing) / 2) calc(var(--spacing));
  border-radius: 2em;
  color: var(--white);
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none;
}

/* end style resets */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, var(--dark-blue), var(--white));
  overflow: hidden;
  opacity: 0.8;
  z-index: 10;
}

.is-not-visible {
  display: none;
}

/* navbar */
.navbar {
  background-color: var(--white);
  height: 60px;
  position: relative;
  z-index: 100;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar__navs__small-screen {
  position: absolute;
  top: 80px;
  width: 80%;
  margin-left: 10%;
  background-color: var(--white);
  padding: var(--spacing);
  border-radius: 0.25em;
  text-align: center;
  z-index: 50;
}

@media only screen and (min-width: 768px) {
  .navbar__navs__small-screen {
    width: 300px;
    right: var(--spacing);
  }
}

@media only screen and (min-width: 1200px) {
  .navbar__navs__small-screen {
    display: none;
  }
}

.navbar__navs__small-screen li + li {
  margin-top: 1em;
}

.navbar__navs {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .navbar__navs {
    display: flex;
  }

  .navbar__navs li:not(:first-of-type) {
    margin-left: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    height: 80px;
  }
}

.navbar button {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .navbar__hamburger {
    display: none;
  }

  .navbar button {
    display: block;
  }
}

.navbar__menu {
  cursor: pointer;
}

/* hero */
.hero {
  position: relative;
  text-align: center;
  background-color: var(--very-light-gray);
}

.hero__content {
  position: relative;
  top: -110px;
}

.hero__content button {
  margin-top: var(--spacing);
}

@media only screen and (min-width: 768px) {
  .hero__content {
    position: static;
    text-align: left;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    width: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__content {
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 3);
    width: 500px;
  }
}

.hero__bg {
  position: relative;
  top: -110px;
  width: 100%;
}

.hero__bg__back img {
  width: 100%;
}

.hero__bg__front {
  position: absolute;
  top: 0;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.hero__bg__front img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero__bg__back img:first-child {
    display: none;
  }

  .hero__bg__back img:last-child {
    display: block;
  }

  .hero__bg {
    position: absolute;
    right: -250px;
    top: -120px;
    width: 658px;
  }

  .hero__bg__front {
    top: 70px;
    right: 150px;
  }

  .hero__bg__front img {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__bg {
    position: absolute;
    right: -250px;
    top: -190px;
    width: 915px;
  }

  .hero__bg__front {
    top: 140px;
    right: 120px;
  }

  .hero__bg__front img {
    width: 540px;
  }
}

/* services */
.services {
  text-align: center;
  background-color: var(--light-grayish-blue);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

@media only screen and (min-width: 768px) {
  .services {
    text-align: left;
  }

  .services__service__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: calc(var(--spacing) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .services {
    padding: calc(var(--spacing) + 1em) 0;
  }

  .services__service__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .services__header {
    width: 600px;
  }
}

.services__service {
  padding-top: calc(var(--spacing) / 2);
}

/* articles */
.articles {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  background-color: var(--very-light-gray);
}

.articles__article {
  background-color: var(--white);
  margin-bottom: var(--spacing);
}

.articles__header {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .articles__article__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1em;
  }

  .articles__header {
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  .articles__article__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.articles__article__image {
  position: relative;
  padding-bottom: 55%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  overflow: hidden;
}

.articles__article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles__article__content {
  padding: var(--spacing);
}

/* footer */
.footer {
  background-color: var(--dark-blue);
}

.footer__container {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--very-light-gray);
}

.footer__brand {
  fill: var(--white);
}

.footer__nav a {
  color: var(--white);
}

.footer__nav li + li {
  margin-top: calc(var(--spacing) / 2);
}

.footer__copyright {
  margin-top: var(--spacing);
}

.footer__social {
  margin-top: calc(var(--spacing) / 2);
}

.footer__social a + a {
  margin-left: calc(var(--spacing) / 2);
}

@media only screen and (min-width: 768px) {
  .footer__container {
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav {
    text-align: left;
  }

  .footer__social {
    margin-top: var(--spacing);
  }
}

@media only screen and (min-width: 1200px) {
  .footer__container {
    height: 300px;
    align-items: center;
  }

  .footer__nav {
    columns: 200px 2;
  }
}
