html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  /* breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* spacing */
  --spacing: 2em;

  /* primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* neutral colors */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--grayish-blue);
  background-color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--dark-blue);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  border: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: calc(var(--spacing) / 2) calc(var(--spacing));
  border-radius: 2em;
  color: var(--white);
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none;
}

/* end style resets */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.navbar {
  background-color: var(--white);
}

.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: absolute;
  z-index: 200;
}

.gap-fix {
  height: 60px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, var(--dark-blue), var(--white));
  opacity: 0.8;
}

.is-not-visible {
  visibility: hidden;
}

.navbar__menu {
  cursor: pointer;
}

.navbar__navs__container {
  position: absolute;
  top: 60px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar__navs__container {
    display: flex;
    justify-content: center;
  }
}

.navbar__navs {
  position: relative;
  top: 20px;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25em;
  background-color: var(--white);
}

.navbar__navs li + li {
  margin-top: 1em;
}

/* hero */
.hero {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  text-align: center;
  background-color: var(--very-light-gray);
}

.hero__content button {
  margin-top: calc(var(--spacing) - 1em);
}

.bg__images__container {
  position: absolute;
}

.bg__images__front {
  position: absolute;
  top: -25%;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.bg__images__front img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .bg__images__back img:first-child {
    display: none;
  }

  .bg__images__back img:last-child {
    display: block;
  }

  .bg__images__container {
    position: absolute;
    right: -130px;
    top: -56px;
  }

  .bg__images__back {
    position: relative;
    width: 535px;
  }

  .bg__images__back img {
    position: absolute;
    object-fit: cover;
    height: 525px;
  }

  .bg__images__front {
    /* width: 420px; */
    top: 0;
  }

  .bg__images__front img {
    top: 75px;
    right: -10%;
    height: 480px;
  }

  .hero__content {
    text-align: left;
    width: 323px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__content {
    text-align: left;
    width: 400px;
  }
}

.services {
  text-align: center;
  background-color: var(--light-grayish-blue);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

@media only screen and (min-width: 768px) {
  .services {
    text-align: left;
  }

  .services__service__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: calc(var(--spacing) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .services {
    padding: calc(var(--spacing) + 1em) 0;
  }

  .services__service__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .services__header {
    width: 600px;
  }
}

.services__service {
  padding-top: calc(var(--spacing) / 2);
}

.articles {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  background-color: var(--very-light-gray);
}

.articles__article {
  background-color: var(--white);
  margin-bottom: var(--spacing);
}

@media only screen and (min-width: 768px) {
  .articles__article__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1em;
  }

  .articles__header {
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  .articles__article__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.articles__article__image {
  position: relative;
  padding-bottom: 55%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  overflow: hidden;
}

.articles__article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles__article__content {
  padding: var(--spacing);
}

.footer {
  background-color: var(--dark-blue);
  padding: var(--spacing);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}

.footer__brand {
  fill: var(--white);
}

.footer__social {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.footer__social a {
  width: 25px;
  height: 25px;
}

.footer__social img {
  width: 100%;
  height: 100%;
}

.footer a {
  color: var(--white);
}

.footer__nav li {
  text-align: center;
}

.footer__nav li + li {
  margin-top: calc(var(--spacing) / 2);
}

.footer__copyright {
  color: var(--grayish-blue);
  text-align: center;
}
