@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  box-sizing: border-box;

  /* breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* primary colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);

  /* light theme */
  --bg-color: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(224, 100%, 98%);
  --card-color: hsl(227, 47%, 96%);
  --card-color-dark: hsl(227, 47%, 90%);
  --text-accent: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
}

/* dark theme */
[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);;
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-color: hsl(228, 28%, 20%);
  --card-color-dark: hsl(228, 28%, 28%);
  --text-accent: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text);
}

.hr-md {
  height: 2px;
  width: 100%;
  margin: 20px 0 15px;
  background-color: var(--text-accent);
}

@media (min-width: 768px) {
  .hr-md {
    display: none;
  }
}

.text-lime-green {
  color: var(--lime-green);
}

.text-bright-red {
  color: var(--bright-red);
}

.text-caret {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--text);
}
/* end of base styles */

.dashboard {
  min-height: 100vh;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1064px) {
  .dashboard {
    width: 1024px;
    margin: 0 auto;
    padding: none;
  }
}

.dashboard__overview__card,
.dashboard__followers__card {
  background-color: var(--card-color);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard__overview__card:hover,
.dashboard__followers__card:hover,
.ribbon {
  background-color: var(--card-color-dark);
}

/* dashbaord overview */
.dashboard__overview__header {
  font-size: 1.2rem;
  color: var(--text);
  margin: 20px 0;
}

.dashboard__overview__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard__overview__card div:first-child,
.dashboard__overview__card div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dashboard__overview__card div:first-child p:first-child {
  color: var(--text-accent);
}

.dashboard__overview__card div:last-child p:first-child {
  font-weight: bold;
  font-size: 1.35rem;
}

.dashboard__overview__card div:last-child p:last-child {
  font-size: 0.75rem;
}

.ribbon {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ribbon.facebook-ribbon {
  background: var(--facebook);
}

.ribbon.twitter-ribbon {
  background: var(--twitter);
}

.ribbon.instagram-ribbon {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.ribbon.youtube-ribbon {
  background: var(--youtube);
}

.dashboard__header h2,
.dashboard__header p {
  margin: 0;
}
.dashboard__header h2 {
  margin-bottom: 5px;
}

.dashboard__header p {
  color: var(--text-accent);
}

@media (min-width: 768px) {
  .dashboard__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.dashboard__followers {
  margin-top: 2em;
}

.dashboard__followers__card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.dashboard__followers__card a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 0.75rem;
}

.dashboard__followers__card a img {
  margin-right: 10px;
}

.dashboard__followers__card * {
  margin: 0;
}

.dashboard__followers__card p:first-of-type {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
}

.dashboard__followers__card p:nth-of-type(2) {
  text-transform: uppercase;
  color: var(--text-accent);
  margin-bottom: 20px;
  letter-spacing: 2.2px;
  font-size: 0.7rem;
}

.dashboard__followers__card p:last-of-type {
  font-size: 0.75rem;
}

@media (min-width: 620px) {
  .dashboard__overview__cards,
  .dashboard__followers__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 20px;
  }
}

/* theme switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bg-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--lime-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--lime-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* rounded slider */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-toggle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .theme-toggle p {
    margin-right: 10px;
  }
}
